body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f9f9f9;
}

nav {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

main {
    position: relative;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main article {
    width: calc(100% / 3 - 5px);
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 25px;
    background: #f1f3f4;
}

main article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

main article p,
main article h4,
main article audio {
    padding: 0 5px;
}

main article audio {
    width: 100%;
}
